.Constitution-page {
    h1 {
        text-align: center;
        color: #ffffff;
        text-shadow: 0 0 4px white;
        font-size: 2rem;
      }

      .Constitution-body {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-radius: 6px;
        padding: 20px;
      
        img {
          width: 100%;
          height: auto;
          margin-top: 20px;
        }
        
        .Constitution-button {
          width: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: #203c79;
          color: #fff;
          padding: 12px 20px;
          text-decoration: none;
          border-radius: 6px;
          border: none;
          font-size: 1rem;
          transition: background-color 0.3s ease;
        }
      }
}