.legacy-hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #76777c, white);
    overflow: hidden;
    position: relative;

    .legacy-hero-wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            padding: 130px 0 0 60px;

            h2 {
                font-size: 40px;
                color: #203c79c2;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 88px;
                color: #515156;
                z-index: 1;
            }

            .buttons {
                display: flex; /* Ensure buttons are aligned properly */

                a {
                    position: relative; /* Enable z-index */
                    z-index: 3; /* Higher than slidingTextContainer */
                    padding: 20px;
                    border: 1px solid black;
                    border-radius: 10px;
                    background-color: transparent;
                    color: black;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                    transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
                    text-decoration: none;

                    &:hover {
                        border: 1px solid #203c797c;
                        background-color: #203c797c;
                        color: white;
                    }
                }
            }

            img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        height: 1000px;
        position: absolute;
        right: -100px;
        bottom: 0;
        display: flex;
        overflow: hidden;
    }

    .imageContainer img {
        width: auto;
        transition: opacity 0.5s ease;
        opacity: 50%;
    }

    @media (max-width: 1200px) {  /* You can adjust 768px to the width you need */
        .imageContainer img {
            opacity: 18%;  /* Fully transparent */
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 40vh;
        bottom: -120px;
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.075);
        width: 50%;
        font-weight: bold;
        z-index: 2;
        cursor:default;
    }
}