html, body {
  height: 100%;
  margin: 0;
}

body {
  color: lightgray;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

.colorTHIS {
  background-color: #76777c;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  overflow: hidden;
}

.fuck {
  height: auto;
  scroll-snap-align: center;
  overflow: hidden;
}