/* Recruitment.css */

@font-face {
    font-family: 'EdoSZ';
    src: url('../../assets/fonts/edosz.ttf') format('truetype'); /* Adjust the path based on your project structure */
    font-weight: normal;
    font-style: normal;
}

.recruitment-body {
    background-color: rgb(255, 255, 255);
}

/* Hero Image Section */
.hero-image-recruitment {
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

/* Darkening the background image using the before pseudo-element */
.hero-image-recruitment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: brightness(45%);
    z-index: 1; /* Behind the text */
}

/* Ensure the text is on top of the darkened background */
.hero-text-recruitment {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 2; /* In front of the darkened background */
}

.hero-text-recruitment h1 {
    font-size: 11rem;
    margin-bottom: -20px;
    font-family: 'EdoSZ', sans-serif;
}

.hero-text-recruitment p {
    font-size: 2.3rem;
    font-family: 'Dotum', sans-serif;
    letter-spacing: 0.08rem;
}

/* FAQ Section */
.recruitment-faqs {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    color: black;
    
}

.recruitment-faqs h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 40px;
    font-family: 'EdoSZ', sans-serif;
}

.faq-item {
    margin-bottom: 30px;
    font-family: 'Dotum', sans-serif;
    letter-spacing: 0.08rem;
}

.faq-item h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.faq-item p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: black;
}
