.navbar {
    height: 100px;
    background-color: transparent; /* Slight transparency, you can adjust this */
    
    .logo-image {
        width: 100px; /* Adjust the size as needed */
        height: auto;
        filter:invert(.2) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
        padding-top: 20px;
        cursor: pointer;
        transition: opacity 0.5s ease, transform 0.5s ease;

        &:hover {
            opacity: 50%;
            transform: scale(1.2);
        }
    }

    .logo-image2 {
        width: 130px; /* Adjust the size as needed */
        height: auto;
        filter:brightness(0%) invert(.25) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
        padding-top: 30px;
        cursor: pointer;
        transition: opacity 0.5s ease, transform 0.5s ease;

        &:hover {
            opacity: 50%;
            transform: scale(1.2);
        }
    }

    .wrapper {
        max-width: 1366px;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
        height: 100%;

        span {
            font-weight: bold;
            display: flex;
            gap: 30px;
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 30px;
                height: 30px;
                margin-left: 10px;
                filter: grayscale(100%) brightness(80%) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
                transition: opacity 0.5s ease, transform 0.5s ease;

                &:hover {
                    opacity: 50%;
                    transform: scale(1.2);
                }
            }
        }
    }
}